Source: kolekt
Section: ruby
Priority: optional
Maintainer: Pierre Carrier <pierre@spotify.com>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.7~)
Standards-Version: 3.9.2
XS-Ruby-Versions: all

Package: kolekt
Architecture: all
Depends: ${misc:Depends}, ruby | ruby-interpreter
Description: Collect information about your system
 kolekt grabs information from your server and reports it to a central
 datastore.
